body{
    text-align:center;
    background: radial-gradient(transparent 0%, black 80%), url("mistywood.jpg");
    background-size: cover;
    height:100vh;
}
div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(206, 206, 206);
}
h1{
    font-size: 600%;
}

p{
    font-size: 200%;
}

a{
    border: 2px solid rgb(206, 206, 206);
    border-radius: 20px;
    font-size: 150%;
    color: rgb(206, 206, 206);
    margin-top: 100px;
    padding: 20px;
    display:inline-block;
    text-decoration:none;
}
a:hover {
    background-color:rgba(255,255,255,0.2);
    -moz-transition: background-color 2s ease-out;
  }